# use 2.9 stable until https://github.com/ansible/ansible/pull/63473 is released
git+https://github.com/ansible/ansible.git@stable-2.9#egg=ansible
coverage
flake8
flake8-black
flake8-docstrings
flake8-tuple
flake8-quotes
requests
