include CHANGES.rst
include COMMITMENT
include COPYRIGHT
include coverage.md
include doc_requirements.txt
include functest_requirements.txt
include LICENSE
include pulp_ansible/app/webserver_snippets/*
include pulp_ansible/tests/assets/*
include test_requirements.txt
include requirements.txt
include unittest_requirements.txt
include pyproject.toml
include pulp_ansible/app/schema/*
